<div class="flex justify-center items-center min-h-screen bg-gradient-to-r from-purple-900 to-fuchsia-900">
  <div class="w-full max-w-lg p-8 bg-white rounded-2xl shadow-lg">
    <!-- Header -->
    <h2 class="text-3xl font-bold text-gray-800 mb-6 text-center">Welcome Back</h2>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <!-- Username Field -->
      <div class="mb-4">
        <label for="username" class="block text-gray-700 font-semibold mb-1">Username</label>
        <div class="relative">
          <span class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-400">
            <i class="pi pi-user"></i>
          </span>
          <input pInputText id="username" formControlName="username"
            class="w-full p-3 pl-10 border rounded-lg focus:outline-none focus:ring-2 focus:ring-fuchsia-500"
            placeholder="Enter your username" />
        </div>
      </div>

      <!-- Password Field -->
      <div class="mb-6">
        <label for="password" class="block text-gray-700 font-semibold mb-1">Password</label>
        <div class="relative">
          <span class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-400">
            <i class="pi pi-lock"></i>
          </span>
          <p-password inputId="password" formControlName="password" [feedback]="false" [style]="{ display: 'block' }"
            inputStyleClass="w-full p-3 pl-10 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-fuchsia-500 text-base"
            placeholder="Enter your password">
          </p-password>
        </div>
      </div>


      <!-- Login Button -->
      <div class="mb-4">
        <button pButton type="submit" label="Log In"
          class="w-full bg-fuchsia-600 hover:bg-fuchsia-700 text-white font-semibold py-3 rounded-lg transition-all shadow-md">
        </button>
      </div>

      <!-- Sign Up Prompt -->
      <div class="mt-4 text-center text-gray-600">
        Don't have an account?
        <a routerLink="/signup" class="text-fuchsia-500 font-semibold hover:underline cursor-pointer">Sign up</a>
      </div>
    </form>
  </div>
</div>